.friends-button {
    background: rgb(49, 49, 49);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.friends-button:hover {
    background: #00368e;
    border: none;
}

input, select, textarea{
    color: #000000;
}

friends-content {
    display: flex;
    position: absolute;
    bottom: 100%;
    left: 20%; 
    background-color: white;
    box-shadow: 0px 0px 8px #ddd;
    flex-direction: column;
    padding: 10px;
    transition: 0.5s linear;
    z-index: 1;
    transition: background 0.3s;
    min-width: 250px;
    border: none;
}

.friends-container {
    position: fixed;
    bottom: 40px; 
    left: 40px;
}

.friends-content {
    display: none;
}

.friends-content.open {
    display: block;
}