.menu-trigger img {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    background: #0056b3;;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 5;
}

.dropdown-container {
    background: rgb(49, 49, 49);
    /* position: relative; */
    width: 200px; /* of its parent ????*/
    border-radius: 10px;
    height: auto;
    padding: 5px 10px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex; 
    align-items: center;
    z-index: 2;
    margin-bottom: 10px;

    /* position: absolute;
    bottom: 50px;
    right: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    width: 200px */

    position: fixed;
    bottom: 60px; 
    right: 40px;
}

.dropdown-menu::before{
    content:'';
    position: absolute;
    top: -5px;  
    right: 20px;    
    height: 20px;   
    width: 20px;    
    background: var(--secondary-bg);
    transform: rotate(45deg);
}

.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.dropdown-menu{
    position: absolute;
    bottom: 50px;
    right: 2px;
    background: rgb(49, 49, 49);
    border-radius: 10px;
    padding: 10px 10px;
    width: 200px;
    align-items: center;
    color: white;
}

.dropdown-menu ul li{
    padding: 10px 0;
    color: white;
}

.dropdown-menu ul li:hover a{
    border-top: 1px black;
    cursor: pointer;
    transition: var(--speed) ease;
    color: white;
}

.dropdownItem{
    display: flex;
    margin: 10px auto;
    color: white;
}

.dropdownItem img{
    background: brgb(87, 87, 87);
    max-width: 20px;
    margin-right: 10px;
    transition: var(--speed);
}

.dropdownItem a{
    max-width: 100px;
    margin-right: 10px;
    transition: var(--speed);
}

#status-icon {
    color: white;
    margin-right: 10px;
}

.status-trigger img{
    width: 30px;
    height: 30px;
}

.dropdown-label {
    
    font-size: 1.25rem;
}